body { 
    margin: 0; 
    padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.map-overlay {
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    right: 3%;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #f70529, #586ac4)
}

.map-overlay .day-legend .day-bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #fa7a2f, #10cf02, #f0fc03)
}

.map-overlay .events p {
    margin: 6px;
}

.map-overlay .months p {
    margin: 6px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

p #event-2, div #event-3, div #event-4, div #event-5 {
    display: none;
}
